header {
    position: fixed;
    background-color: white;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 1.5px;
}

.topnav {
    overflow: hidden;
    background-color: white;
    color: #cccccc;
    padding: 30px;
    margin-right: 115px;
    height: 100%;
}

.topnav a {
    float: right;
    color: #777777;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-right: 1px solid #dddddd;
    padding-left: 10px;
    padding-right: 10px;
}

.topnav a:first-of-type {
    border-right: none;
}

.topnav a:hover {
    color: #4aaaa5;
}

.name {
    float: left;
    background-color: #4aaaa5;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 150px;
}

.picofme {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

p {
    font-size: 16px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.aboutbox {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 120px;
    padding-left: 40px;
    padding-right: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    background-color: #ffffff;
    line-height: 150%;
}

.contactbox {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 120px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    background-color: #ffffff;
    line-height: 150%;
    color: #777777;
}

.portfoliobox {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 120px;
    padding-left: 40px;
    padding-right: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    background-color: #ffffff;
    line-height: 150%;
}

body {
    background-image: url(https://i.imgur.com/LOh7oiH.png);
}

h2 {
    color: #4aaaa5;
    font-size: 30px;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -35px;
    padding-bottom: 30px;
}

.footer,
.push {
    height: 35px;
}

footer {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10px;
    padding-top: 40px;
    padding-bottom: 0px;
    text-align: center;
    color: white;
    background-color: #666666;
    border-top-style: solid;
    border-top-width: 8px;
    border-top-color: #4aaaa5;
}

.content {
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #dddddd;
    padding-top: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

#form {
    width: 97%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding: 5px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

#form2 {
    width: 97%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding: 5px;
    height: 200px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

#submit {
    background-color: #4aaaa5;
    color: white;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#container {
    position: relative;
}

#caption {
    position: absolute;
    top: 75px;
    bottom: 15px;
    width: 135px;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    background-color: #4aaaa5;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.submitbutton {
    background-color: #4aaaa5;
    padding: 5px;
    color: white;
    width: 10%;
    text-align: center;
}